<!doctype html>
<html style="height:100%;">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content= "">
  <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= css_include_tag "application" %>
    
  

  <title></title>
</head>

<body>
    <%= yield %>
</body>
<script type="text/javascript" src="js/application.js"></script>
</html>
